canvas, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

img {
    width: 37px;
}

#penTracker {
    padding: 20px;
    display: flex;
    touch-action: none;
}

#penTracker div {
    background-image: url(../images/background.png);
    background-repeat: repeat;
    outline: 5px solid #000;
    border-radius: 10px;
}

.settings {
    padding: 5px;
    margin: 20px 20px 5px 20px;
    outline: 5px solid #000;
    border-radius: 10px;
    display: inline-block;
}

fieldset {
    display: inline-block;
    border-radius: 10px;
    height: 55px;
    vertical-align: top;
}

svg {
    z-index: 1;
    position: absolute;
}

fieldset img:active {
    background-color: #b0b0b0;
    border-radius: 4px;
}

[type=range] { 
    width: 100px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
    background-color: #b0b0b0;
    border-radius: 4px;
}

@keyframes blink {
    0% {
        outline-color: rgba(100, 100, 100, 0);
    }
    20% {
        outline-color: rgba(100, 100, 100, 1);
    }
    40% {
        outline-color: rgba(100, 100, 100, 0);
    }
    100% {
        outline-color: rgba(100, 100, 100, 0);
    }
}

.selectedSvgFigure {
    animation: blink 1s infinite;
    outline: 4px dashed #333;
    outline-offset: 4px;
}