html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: rgb(52, 206, 142);
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
  }

  div {
    display: flex;
  }

  div.flex2{
    flex-direction: row-reverse;
  }

  div.flex1 {
    flex-direction: column-reverse;
  }

  div.flex3 {
    flex-direction: column;
  }

  div.flex4 {
    flex: 1;
  }